<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Tracker</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <h1><span>COVID</span>-<span>19</span> TRACKER</h1>
        </div>
    </div>
    <!-- <script src="/js/particle.js"></script> -->
</body>
</html>